# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\研一学习\短视频\douyin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
